<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/login">Login</a></li>
    <li><a ng-href="#/hotels">Hotels</a></li>
  </ul>
  <h3 class="text-muted"> Room Guru </h3>
</div>

<div class="jumbotron">
  <p class="lead">
    <img src="images/hilton_hhonors.gif" alt="I'm Yeoman"><br>
      Find the best rooms in your favorite hotels.
  </p>
</div>

<div class="row marketing">
  <p>Ever been told your being upgraded to a junior suite, then you walk into your room and you're in a regular room with a bonus mini-frig. Never again!
     Find the layout of your favorite Hiltons and know best rooms to request.

     More details about how the site will work here!
  </p>

</div>

<div class="footer">
  <p>♥ Ronald Watro </p>
</div>
